

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai');
*{
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.swal-wide {
    font-size: 50px;
    width: 850px !important;
    height: 400px !important;
}
