

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    font-family: "Roboto Mono", monospace;
}
.swal-wide {
    font-size: 50px;
    width: 850px !important;
    height: 400px !important;
}