
.nav{

  margin: auto;
  padding: 12px;
  padding-left: auto;
  padding-right: auto;
}
.brand {
  font-weight: bold;
  font-size: 20px; }

.site-header {
  align-items: center;
  justify-content: center;
  position: relative;
  background-color:  #7472b1;
  box-shadow: 5px 16px 20px -7px rgba(91,89,161,0.53);
}

.site-header__wrapper {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    .site-header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0; } }
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex; } }

@media (max-width: 899px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); } }

.nav__item a {
  margin: 10px;
  text-align: center;
  display: block;
  display: inline;
   }

.nav__toggle {
  display: none; }
  @media (max-width: 599px) {
    .nav__toggle {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem; } }
