@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
.wrapper {

  padding: 50px; 
}

*,
*:before,
*:after {
  box-sizing: border-box;
  /* box-shadow: 5px 23px 31px -18px rgba(64,61,64,1); */
}

a {
  /* box-shadow: 5px 23px 31px -18px rgba(64,61,64,1); */
  text-decoration: none;
  color: #222;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto Mono', monospace;
  
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button-icon {
  min-width: initial;
}
